[Unit]
Description=gunicorn instance to serve api
After=network.target

[Service]
User=fastapi
Group=fastapi
WorkingDirectory=/home/dev/fastapi-app/app/src
Environment="PATH=/home/dev/fastapi-app/app/venv/bin"
ExecStart=/home/dev/fastapi-api/app/venv/bin/gunicorn -k uvicorn.workers.UvicornWorker app.main:app --bind 0.0.0.0:8000

[Install]
WantedBy=multi-user.target